:root {
  --bg-color: #fff;
  --element-color:#2D2E46 ;
  --subtitle-color:#2b2b36;
  --card-color:#EEEEFD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'Arial', sans-serif;
  }


  .sticky{
    background-color:#fff;
    transition:all 1s;
  }
  /* ::-webkit-scrollbar {
    width: 1px;
    opacity:0;
    background: transparent;
  }
   */



  /* HEADINGS */
  
 
 a{
  text-decoration: none;
 } 
  h1 {
    font-size: 2.2rem;
  }
  
  h2 {
    color: var(--element-color);;
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 10px;
  }
  
  /* BASIC SETUP */
  
  .page-wrapper {
    width: 100%;
    height: auto;
  }
  
  .nav-wrapper {
    width: 100%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: var(--bg-color);
    z-index: 9999;
   
  }
  
 /* NAVIGATION */
  
  .navbar {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 10px;
    align-items: center;
    /* height: 50px; */
    overflow: hidden;
    /* border-bottom: px solid var(--element-color);; */
    
   
  }
  
  .navbar .logo{
    /* height: 16px; */
    /* width: auto; */
    color:var(--element-color);
    font-size: 2rem;
    font-family:'Abril Fatface';
    justify-self: start;
    margin-left: 20px;
    
  }
  
  .navbar ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-self: end;
    
  }
  .nav-item{
    margin: 20px 30px;
  }
  .nav-item a {
    color:var(--element-color);
    font-size: .8rem;
    font-weight: 600;
    text-decoration: none;
    font-family: 'Poppins';
    transition: all .5s ease-in-out;
    padding: 8px 15px;
    border-radius: 50px; 
  }
  
  .nav-item a:hover {
       font-weight: 600;
       color:#fff;
       background: linear-gradient(321deg, rgba(2,0,36,1) 0%, rgba(45,46,70,1) 45%, rgba(101,102,177,1) 100%);
       box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 10px 13px -3px, rgba(0, 0, 0, 0.2) 0px -5px 0px inset;
  
  }
  
  .nav li:nth-child(4) a{ 
  
    color:#fff;
    background: var(--element-color);
  
    }
    .nav li:nth-child(4) a:hover{
      background: linear-gradient(321deg, rgba(2,0,36,1) 0%, rgba(45,46,70,1) 45%, rgba(101,102,177,1) 100%);
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 10px 13px -3px, rgba(0, 0, 0, 0.2) 0px -5px 0px inset;

    }

/* MOBILE MENU & ANIMATION */

.menu-toggle .bar{
  width: 25px;
  height: 3px;
  background-color: #3f3f3f;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
  justify-self: end;
  margin-right: 25px;
  display: none;
}

.menu-toggle:hover{
  cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2){
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1){
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3){
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}



  /* SECTIONS */
   section{
    padding-top: 5%;
    width: 100%;
  } 
  .home {
    width: 100%; 
    background:var(--bg-color);
    background-size: cover;
    display: flex;

    justify-content: center;
  }
  
  .home .container{
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-bottom: 0;
    overflow: hidden;
     
    }
    .home .container .content{ 
      width: 120%;
      /* padding: 30px; */
      padding-left: 90px;
     
      text-align: left;
      
     
      
    }
   
    .home .container .content .tags{
      font-family: 'Allura';
      text-align: left;
      color:var(--subtitle-color)
    
    }
    .home .container .content .title{
      padding-left: 30px;
      font-size:2.9rem;
      text-align: left;
      font-family: 'Abril Fatface';
      letter-spacing: .5rem;
      color:var(--element-color);
   
    }
    .home .container .content .sub-title{
      font-family: 'Abril Fatface';
      padding-left: 30px;
      font-weight:bolder;
      letter-spacing: .2rem;
      font-size: 1rem;
      color:var(--subtitle-color);
      text-align: left;
    }
    .home .container .content .download{
      position:absolute;
      margin-top: 30px;
      text-decoration: none;
      border-radius: 50px 50px 10px 50px;
      padding:15px 30px;
      background: var(--element-color);
      color:#fff;
      display: flex;
      font-family: Poppins;
      font-weight: 600;
      transition: all .5s;
      background: linear-gradient(321deg, rgba(2,0,36,1) 0%, rgba(45,46,70,1) 45%, rgba(101,102,177,1) 100%);
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 10px 13px -3px, rgba(0, 0, 0, 0.2) 0px -5px 0px inset;
  
    }

    .home .container .content .download:hover{
      font-weight: 600;
      background: linear-gradient(321deg, rgba(2,0,36,1) 0%, rgba(45,46,70,1) 45%, rgba(101,102,177,1) 100%);
      box-shadow: none;
      
    }

    .home .container .me .image .download{
      display: none;
      position:absolute;
      margin-top: 20px;
      text-decoration: none;
      border-radius: 50px 50px;
      padding:20px 22px;
      border: 5px solid #fff;
      background: var(--element-color);
      color:#fff;
      bottom:60px;
      right:35px;
     

    } 
    .home .container .me .image .download:hover{
      background:#fff;
      color:var(--element-color);
      background: linear-gradient(321deg, rgba(2,0,36,1) 0%, rgba(45,46,70,1) 45%, rgba(101,102,177,1) 100%);
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 10px 13px -3px, rgba(0, 0, 0, 0.2) 0px -5px 0px inset;

  }
    .home .container .me{
      width: 100%;
      position: relative;
     
      
    }
    .home .container .me .image{
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 40px;
      
    }
    .home .container .me .image img{
      width: 80%;
      animation: float 6s ease-in-out infinite;
      
      
    } 
    .home .container .me .insta ,.home .container .me .fb, .home .container .me .git,.home .container .me .linkdn{
      width: 100px;
      position: absolute;
      transition: all .5s;
     animation: float 6s ease-in-out infinite;
      
    }  

    .home .container .me .insta{
      top:100px;
      left:40px;
      

    }
    .home .container .me .fb{
      top:300px;
      left:90px
    }
    .home .container .me .git{
      right:100px;
      top:40px;
    }
    .home .container .me .linkdn{
      top:270px;
      right:60px
    }
    .home .container .me .insta img ,.home .container .me .fb img , .home .container .me .git img,.home .container .me .linkdn img{
      width:100px;
    } 
    
    @keyframes float {
      0% {
        /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
    
        transform: translatey(0px);
      }
      50% {
        /* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
        transform: translatey(-20px);
      }
      100% {
        /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
        transform: translatey(0px);
      }
    }

  
 .about,.projects{
  display: block;
  padding-bottom: 40px;
  width:100%;
  height:auto;
 }
 .about h1,.projects h1{
  color:var(--element-color);
  text-align: center;
  font-family: 'Abril Fatface';
  letter-spacing: 2px;
  font-size: 3rem;
  
 }  
 .about .content{
  padding:2% 20%;

 }
 .about .content p{
  padding-left: 20px;
  font-size: .8rem;
  font-family: 'Poppins';
  text-align: justify;
  font-weight: 500;
  word-spacing: 5px;
  line-height: 30px;
 }
 .about .content .tags{
  padding:0;
  font-size: 1rem;
  font-family: 'Allura';
 }
 .about .content .project-but{
 position:absolute;
 text-decoration: none;
 font-family: Poppins;
 font-weight: 600;
 transition: all .5s;
 color: var(--element-color);
}
.about .content .project-but span{
  padding:8px 10px;
}
.about .content .project-but i{
  background:var(--element-color);
  margin-left: 5px;
  color:#fff;
  border-radius: 50%;
  padding: 15px;
  transition: margin-left 2s;

  
}
.about .content .project-but:hover{
      margin-left:20px;
      color:#A5A4E5;   
}



 /* ************************************* PROJECTS **************************** */
.projects{
  width: 100%;
  padding-top: 100px;
}
 .projects .container{
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 50px; 
  flex-wrap: wrap;
  position: relative;
}
.projects .container .project-card{
  margin:40px;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  width: 400px;
  height: 250px;

}
/* .projects .container .p1{
  background:url('./images/medical.png');
  
  background-size: cover;
}
.projects .container .p2{
  background:url('./images/hotel.jpg');
  
  background-size: cover;
}
.projects .container .p3{
  background:url('./images/inventory.jpg');
  background-size: cover;
}
.projects .container .p4{
  background:url('./images/fire.png');
  background-size: cover;
} */

.projects .container .project-card .project-name{
  position: absolute;
  background-color: var(--element-color);
  width: 110%;
  bottom: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.projects .container .project-card .project-name h2{
  color:#fff;
  font-family: 'Poppins';
  font-size: 1.5rem;
  padding: 5px 10px;
  font-weight: 900;
  text-align: center;
}
.projects .container .project-card .link{
  position: absolute;
  width: 100%;
  transition: all .5s ease-in-out;
  height: 100%;
  border-radius: 10px;
}

.projects .container .project-card .link a:hover{
  background:linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%);
  border-radius: 10px;
}
.projects .container .project-card .link a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color:#fff;
  text-decoration: none;
  text-align: center;
  height: 100%;
  transition: all .5s ease-in-out;

}
.projects .container .project-card .link a i{
  font-size: 2.5rem;
  color:#fff;
  opacity: 0;
  transition: all .5s ease-in-out;

}
.projects .container .project-card .link a:hover>i{
  opacity: 1;
  transition: all .5s ease-in-out;
}





/* .projects .container .project-card img{
  width: 100%;
  object-fit: cover;

} */
  /* Media Queries */
  
    /* Mobile Devices - Phones/Tablets */
  
  @media only screen and (max-width: 720px) { 
  
    /* MOBILE HEADINGS */
    
    h1 {
      font-size: 1.9rem;
    }
    
    h2 {
      font-size: 1rem;
    }
    
    p {
      font-size: 0.8rem;
    }
    
     /* MOBILE NAVIGATION */
     
  .navbar ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: start;
    top: 55px;
    background-color: #fff;
    width: 100%;
    height: calc(100vh - 55px);
    transform: translate(-101%);
    text-align: center;
    overflow: hidden;
  }
  
  .navbar li {
    padding: 15px;
  }
  
  .navbar li:first-child {
    margin-top: 50px;
  }
  
  .navbar li a {
    font-size: 1rem;
  }
   
  .menu-toggle, .bar {
    display: block;
    cursor: pointer;
  }
  
  .mobile-nav {
  transform: translate(0%)!important;
}
    
    /* SECTIONS */
    
    .headline {
      height: 20vh;
    }
    .home{
     height: 100vh;
    }
    .home .container {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
    }
    .home .container .content .download{
      display: none;
    }
    .home .container .content{
      width: 100%;
      
        padding:0 20px;
        
    } 
    .home .container .content .title{
      font-size:1.9rem;
      letter-spacing: 0;
     
   
    }
    .home .container .content .sub-title
     {
      font-size: .8rem;
    letter-spacing: 0;
     }
     .home .container .content .tags{
      font-size: 1.2rem;
     }
    .home .container 
     {
      flex-direction: column;
     }


     .home .container .me .image{
      padding: 50px;
      padding-top: 0;
      width: 100%;
      align-items: flex-start;
     }
    .home .container .me .image img{
      width: 100%;
      padding: 5px;
      
    }
    .home .container .me .social{
      display: none;
    }
    .home .container .me .image .download{
      display: block;
     

    } 
  
    .about h1,.projects h1{
        font-size: 1.9rem;   
    }
    .about .content {
      padding:30px;
      padding-right:50px;
    
     }
     .about .content p{
       font-size: .9rem;
       line-height: normal;
       word-spacing: 0; 
    }
    .projects .container{
      padding:20px;
    }
    .projects .container .project-card{
     width:100%;
     margin:20px 10px ;
    }
    .projects .container .project-card .project-name h2{
      font-size: 1rem;
    }
}